<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2 th:text="${'First Name: ' + mentor.firstName}"></h2>
  <h2 th:text="${'Last Name: ' + mentor.lastName}"></h2>
  <h2 th:text="${'Email Name: ' + mentor.email}"></h2>
  <h2 th:text="${'Gender Name: ' + mentor.gender}"></h2>
  <h2 th:text="${'Graduated Name: ' + mentor.graduated}"></h2>
  <h2 th:text="${'Batch Name: ' + mentor.batch}"></h2>
</body>
</html>