<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cybertek</title>
<!-- Container for metadata (is not displayed)
Title, Styles, Link, Scripts, Meta and others
-->
    <meta name="Ozzy">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">

</head>

<body>

<!-- NAVBAR WITH FORM -->
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            <form class="form-inline ml-auto">
                <input type="text" class="form-control mr-2" placeholder="Search">
                <button class="btn btn-outline-success">Search</button>
            </form>
        </div>
    </div>
</nav>

    Welcome to Java Developer Course!!!
    <h1>SpringBoot</h1>
    <h2>SpringBoot</h2>
    <h3>SpringBoot</h3>

    <h1 align="center" style="color: red">Spring Framework</h1>

    <img src="springboot.png" alt="No picture">

    <ul>
        <li>MVC</li>
        <li>ORM</li>
        <li>API</li>
    </ul>

    <a href="https://amazon.com">Amazon</a>

    <table>
        <tr>
            <td>Loop</td>
            <td>Collection</td>
            <td>Stream</td>
        </tr>
        <tr>
            <td>IOC</td>
            <td>DI</td>
            <td>Value</td>
        </tr>
    </table>

    <label>User Name:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password"><br>
    <label> Enter your comments:</label>
    <textarea name="Comments:"></textarea><br>

    <label>Please select your favourite subject:</label><br>
    <input type="radio" name="Spring" value="IoC" checked="checked">IoC<br>
    <input type="radio" name="Spring" value="DI">DI<br>
    <input type="radio" name="Spring" value="MVC">MVC<br>

    <label>Please select your company</label><br>
    <input type="checkbox" name="company" value="Bank of America">BOA<br>
    <input type="checkbox" name="company" value="Southwest Airlines">SWE<br>
    <input type="checkbox" name="company" value="Limited">LTD<br>

    <label>Select your car:</label>
    <select name="cars">
        <option value="honda">Honda</option>
        <option value="toyota">Toyota</option>
        <option value="bmw">BMW</option>
    </select>

    <form action="#" method="get">
        First name: <input typ="text" name="first_name"/>
        <br>
        Last name: <input type="text" name="last_name"/>
    </form>

    <div>
        <h3>This is Java Developer Course</h3>
        <ul>
            <li>MVC</li>
            <li>ORM</li>
            <li>API</li>
        </ul>
    </div>

<!-- INVERSE/DARK TABLE -->
<table class="table table-dark">
    <thead>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>John</td>
        <td>Doe</td>
        <td>jdoe@gmail.com</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Will</td>
        <td>Johnson</td>
        <td>will@yahoo.com</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Shannon</td>
        <td>Williams</td>
        <td>shannon@yahoo.com</td>
    </tr>
    </tbody>
</table>

    <!-- SPLIT DROPDOWNS -->
    <div class="btn-group">
        <button class="btn btn-primary" type="button">My Button</button>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            <span>Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link One</a>
            <a class="dropdown-item" href="#">Link Two</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Link Three</a>
        </div>
    </div>

</body>

</html>